body{
    background-color: rgb(109, 0, 0);
    background-size: 90%;
}

p{
    color: white;
}

nav{
    text-align: right;
}

h1{
    text-align: center;
    font-size: 60px;
    color: white;
}

form{
    margin-top: 12px;
}

.h3{
    text-align: left;
    font-size: 40px;
    margin-top: 100px;
}


.zutaten{
    text-align: left;
    margin-left: 50px;
}


.bild1{
    width: 400px;
    height: 500px;
    margin-top: -360px;
    margin-left: 460px;
}

.impressum{
    text-align: center;
    font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(19, 82, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.bild2{
    height: 270px;
    margin-left: 190px;
}

.zweiterSchritt{
    text-align: right;
}

.bild3{
    height: 270px;
    margin-left: 950px;
}

.bild4{
    height: 270px;
    margin-left: 190px;
}

h3{
    font-size: 50px;
    text-align: center;
    color: white;
}

.bild5{
    height: 270px;
    margin-left: 990px;
}

.vierterSchritt{
    text-align: right;
}

.bild6{
    height: 270px;
    margin-left: 190px;
}

.sechsterSchritt{
    text-align: right;
}

.bild7 {
    height: 270px;
    margin-left: 990px;
}

.bild8{
    height: 280px;
    margin-left: 190px;
}

.achterschritt{
    text-align: center;
    font-size: 20px;
}

.download{
    color: white;
    text-align: right;
}

.h2{
    color: white;
}

